<div class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="./img/logo-evn.png" alt="logo-evn" class="logo">
      <img src="./img/logo-evn-chu.png" alt="logo-evn" class='logo2' />
      <a class="navbar-brand" href="#"><b>OIL DASHBOARD</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/chart">Visualizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/warning">Notification History</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</div>